/* 
  Styles for Editor Page 
*/

/* Editor Layout */
.editor {
  display: grid;
  height: calc(100% + fit-content);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 10rem 1fr 5fr 5rem 10rem;
}

/* Editor's Title */
.editor-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 1rem 0;
}

/* Editor's Form */
#editor-form {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Editor's Form Field */
.editor-form-fields {
  display: inline-flex;
  flex-direction: column;
}

.editor-form-fields > label {
  color: rgba(0, 0, 0, 0.62);
}

.editor-form-fields > input, .editor-form-fields > textarea {
  background-color: var(--secondary-color);
  border: 0.1px solid var(--border-color);
  padding: 0.5rem 0.1rem;
}

/* Editor's Form's Text Types */
.editor-form-texttype {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  width: 100%;
  margin: 1rem 0;
}

.editor-form-texttype .editor-form-title {
  grid-column: 1 / 2;
}

.editor-form-texttype #editor-form-field-title {
  width: 100%;
}

.editor-form-texttype .editor-form-author {
  grid-column: 3 / 4;
}

.editor-form-texttype #editor-form-field-author {
  width: 100%;
}

/* Editor's Form's Content */
#editor-form-field-content {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  resize: none;
}

/* Editor's Action */
.editor-actions {
  grid-column: 2 / 3;
  grid-row: -1 / -2;
  display: flex;
  justify-content: end;
  align-items: center;
}

.editor-actions-submit {
  margin: 0 1rem 0 0;
}

.editor-actions-submit button:hover {
  margin: 0 0 1rem 0;
  background-color: green;
}

.editor-actions-cancel a:hover {
  margin: 0 0 1rem 0;
  background-color: red;
}

